

.logo {
  margin-top: 3em;
  max-width: 20%;
  height: auto;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ff0026aa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.datepicker {
  margin: 1em;
  text-align: center;
  font-family: 'Segoe UI',sans-serif;
}