:root {
  --font-main: 'Segoe UI', sans-serif;
  --color-bg: #1a1a1a;
  --color-text: #ffffff;
  --color-accent: #ff0026;
  --color-card: #ffffff;
  --color-card-text: #1a1a1a;
  
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-main);
  color: var(--color-text);
  background: radial-gradient(125% 125% at 50% 100%, #000000 40%, #2b0707 100%);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}